* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: transparent;
  overflow: hidden;
  border: none !important;
  outline: none !important;
}

#root {
  width: 100vw;
  height: 100vh;
  background: transparent;
  border: none !important;
  outline: none !important;
}
